li {
  display: flex;
  align-items: center;
}
p {
  padding: 0 10px;
}
#text {
  margin-left: 40px;
  margin-top: 40px;
}
.btn {
  margin-left: 40px;
  margin-top: 40px;
}

button:hover {
  background: white;
  color: black;
  border: 1px solid black;
}

.selected {
  background-color: white !important;
  border: 1px solid !important;
  color: black !important;
}
